Package: com.yourname.coconoteautorecording
Name: CoconoteAutoRecording
Version: 1.0.2
Architecture: iphoneos-arm
Description: Auto-tap automation for Coconote (LiveContainer compatible)
Maintainer: You
Author: You
Section: Tweaks
